<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/error.css" />
  </head>
  <style>
    .submit-feedback {
   width: 100%;
   padding: 10px 0; 
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 4px;
   margin-top: 10px;
   background-color: #d66767;   
   color: #53488d;
   transition: all 0.4s;
    &:hover {
       border-radius: 10px;
      color: #53488d;
      background-color: #ffe5e5;
      background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      animation: animatedBackground 2s linear infinite alternate;
    }
  }
  
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  </style>
  <body>
    <div class="error-container">
      <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
      <lord-icon
        src="https://cdn.lordicon.com/vacmyjrh.json"
        trigger="loop"
        delay="2000"
        colors="primary:#121331"
        state="hover-2"
        style="width: 250px; height: 250px"
      >
      </lord-icon>
      <h1>Error</h1>
      <p><%= errorMessage %></p>
      <button class="submit-feedback" id="loginButton" style="display: none;" onclick="gologin()">Giriş Yap</button>
    </div>
    <script>
      window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const reason = urlParams.get('reason');
    
        if (reason === "NeedToLogin") {
          const loginButton = document.getElementById("loginButton");
          loginButton.style.display = "block";
        }
      }
        
      function gologin(){
        window.location.href = "/login"
      }
    </script>
  </body>
</html>
