<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

  <%- include("partials/menubar.ejs") %>
    <link rel="stylesheet" href="/login_register.css" />
    <div class="registration-form">
      <form action="" method="post">
        <div class="form-icon">
          <span><i class="icon icon-user"></i></span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" name="email" placeholder="E-mail" required oninvalid="this.setCustomValidity('Lütfen geçerli bir yazı girin!')" onvalid="this.setCustomValidity('')"/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" name="password" placeholder="Password" required />
        </div>
        <button id="submitButton" type="submit" class="form-control item" value="book" style="line-height: 20px;">
          <div id="equal" style="display: none;">
            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
            <lord-icon src="https://cdn.lordicon.com/dpinvufc.json" trigger="loop"
              colors="primary:#66d7ee,secondary:#08a88a" stroke="100" style="width:50px;height:50px">
            </lord-icon>
            <h6 style="line-height: 20px;">Yanıt bekleniyor...</h6>
          </div>
          <div id="normalbutton">
            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/zmkotitn.json"
                trigger="hover"
                colors="primary:#66d7ee"
                state="hover-3"
                style="width:50px;height:50px">
            </lord-icon>
            <h6 style="line-height: 20px;">Login</h6>
          </div>
        </button>
        <div class="uhaveaccount">Eğer hesabınız yok ise <a href="/register">Tıklayın</a></div>
        <div id="error-message" class="error-message" style="display: none"></div>
      </form>
    </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>
      const inputs = document.querySelectorAll(".form-control input");
      const labels = document.querySelectorAll(".form-control label");

      labels.forEach((label) => {
        label.innerHTML = label.innerText
          .split("")
          .map(
            (letter, idx) => `<span style="
				transition-delay: ${idx * 50}ms
			">${letter}</span>`
          )
          .join("");
      });

      const floating_btn = document.querySelector(".floating-btn");
      const close_btn = document.querySelector(".close-btn");
      const social_panel_container = document.querySelector(
        ".social-panel-container"
      );
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get("error");

        if (error) {
          const errorMessageElement = document.getElementById("error-message");
          errorMessageElement.textContent = error;
          errorMessageElement.style.display = "block";

          // Hata mesajını gösterdikten sonra URL'deki error parametresini kaldır.
          history.replaceState({}, document.title, "/login");
        }
      });
    </script>
    <script>
      const equal = document.getElementById('equal')
      const button = document.getElementById('normalbutton');
      document.addEventListener('DOMContentLoaded', function () {
        const submitButton = document.getElementById('submitButton');
        let isSubmitting = false;


        submitButton.addEventListener('click', function (event) {

          if (isSubmitting) {
            event.preventDefault();
            return false;
          }

          isSubmitting = true;

          equal.style.display = "block";
          button.style.display = "none";

          setTimeout(() => {
            isSubmitting = false;

            equal.style.display = "none";
            button.style.display = "block";

          }, 3000);
        });
      });
    </script>
</body>

</html>