body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin: 30px;
  border-radius: 15px; /* Köşe yuvarlatma */
  overflow: hidden; /* İçeriğin köşeleri dışarı taşmasın */
  width: 100%;
  display: grid;
  grid:
    "sidebar content" 1fr
    / auto 1fr; 
  gap: 8px;
}
.sidebar { grid-area: sidebar; }
.content { grid-area: content; }


.layout-special {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin: 30px;
  border-radius: 15px; /* Köşe yuvarlatma */
  overflow: hidden; /* İçeriğin köşeleri dışarı taşmasın */
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  grid:
    "sidebar content" 1fr
    / auto 1fr;
  gap: 8px;
}

.sidebar {
  width: 250px;
  background-color: #d66767;
  color: white;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  word-wrap: break-word;
}

.contents {
  flex: 1;
  padding: 20px;
  overflow: auto;
  border-radius: 16px;
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

.submit-feedback {
  width: 100%;
  padding: 10px 0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 10px;
  background-color: #d66767;
  color: #53488d;
  transition: all 0.4s;
  &:hover {
    border-radius: 6px;
    color: #53488d;
    background-color: #ffe5e5;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    animation: animatedBackground 3s linear infinite alternate;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.book-card {
  background-color: #d66767;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 330px;
  text-decoration: none !important;
}

.book-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.book-property {
  margin: 5px 0;
}
.uhaveaccount {
  background-color: #fff;
  padding: 10px;
  color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  margin-top: 10px;
  text-align: center !important ;
}

.input-group {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.input-group input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #000000 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #000000;
}

.input-group input:focus,
.input-group input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.input-group label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.input-group label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #000000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-group input:focus + label span,
.input-group input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
a{
  text-decoration: none;
}
